@charset 'utf-8';

$mq-breakpoints: (
  mobile: 480px,
  tablet: 768px,
  laptop: 1200px,
  desktop: 1400px,
);

// Use in development
// $mq-show-breakpoints: ('mobile', 'tablet', 'desktop');
@import '../../node_modules/sass-mq/mq';

// HELPERS -- FUNCTIONS, MIXINS, ETC.
//@import 'helpers/reset';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/placeholders';

// SETTINGS
@import 'settings/settings.global';
@import '../../node_modules/inuitcss/settings/settings.core';

// TOOLS
@import '../../node_modules/inuitcss/tools/tools.clearfix';
@import '../../node_modules/inuitcss/tools/tools.font-size';
@import '../../node_modules/inuitcss/tools/tools.hidden';
@import 'tools/tools.functions';

// GENERIC
@import '../../node_modules/inuitcss/generic/generic.box-sizing';
//@import '../../node_modules/inuitcss/generic/generic.normalize';
@import '../../node_modules/inuitcss/generic/generic.reset';
@import '../../node_modules/inuitcss/generic/generic.shared';

// COLORS
@import 'settings/settings.colors';

// BASE
@import 'base/base';
@import 'base/old-styles';
@import 'base/new-styles';

//COMPONENTS
@import 'components/cookie';
@import 'components/modal';

// ELEMENTS
@import '../../node_modules/inuitcss/elements/elements.page';
@import '../../node_modules/inuitcss/elements/elements.headings';
@import '../../node_modules/inuitcss/elements/elements.images';
@import '../../node_modules/inuitcss/elements/elements.tables';

// UTILITIES
@import '../../node_modules/inuitcss/utilities/utilities.clearfix';
@import '../../node_modules/inuitcss/utilities/utilities.widths';
@import 'utilities/utilities.widths';
@import '../../node_modules/inuitcss/utilities/utilities.headings';
@import '../../node_modules/inuitcss/utilities/utilities.hide';
@import 'utilities/utilities.helpers';

