{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

{% include '@theme_auction/_partials/header.html.twig' %}

<div class="container">
    <h1>{{ title }}</h1>
    <div class="o-grid">
      <div class="o-grid__item u-1/1">
        <div class="c-maintenance">
        {{ page.content }}
        </div>
      </div>
    </div>
  </div>
{% include '@theme_auction/_partials/footer.html.twig' %}

