{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<div class="c-auctions__item">
  {% if title %}
    <h3 class="c-auctions-header">{{ title }}</h3>
  {% endif %}

  <div class="c-auctions-list">
    {% for row in rows %}
      <div class="c-auctions-list__item u-1/1 u-4/12@laptop">
        {{ row.content }}
      </div>
    {% endfor %}
  </div>
</div>
